
#content > section > h2 {
		text-transform: uppercase;
		color: #555;
		font-weight: 300;
		font-size: 36px;
		margin-top: 50px;
		line-height: 70px;}

	#content> section > p {
		color: #555;
		font-weight: 300;
		font-size: 18px;}

		section >.post {
			width: 69%;
			display: inline-block;
			margin-top: 70px;}

	section > .sidebar {
		width: 29%;
		display: inline-block;}

		.tabs {
			width: 100%;
			display: inline-block;
			border: 1px solid #eee;}

		.tab-links:after{
			display: block;
			clear: both;
			content:'';}

		.tab-links li {
			margin: 0px 1px;
			float: left;
			list-style: none;
		}
		.tab-links a {
			padding: 12px 27px;
			display: inline-block;
			font-size: 14px;
			color: #666;
			background-color: #f1f1f1;
			text-decoration: none;}

		.tab-links a.active, a:hover{
			background: #fff;
			border-top: 2px solid #039be5;}

		.tab-content{
			padding: 10px;
			background: #fff;}

		.tab {
            display:none;}
 